* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    overflow-x:hidden;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    left: -49px;
    border-radius: 7px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.f-w {
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-item.active.bt .nav-link {
    color: #d62f58;
}

.navbar-expand-lg .navbar-nav .dropdown-menu::before {
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 100%;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    width: 190px;
    height: 50px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d62f58;
}

.navbar-light .navbar-nav .active>.nav-link::before {
    content: "";
    background-color: #d62f58;
    height: 2px;
    display: block;
    transition: 0.5s;
    width: 0%;
}

.navbar-light .navbar-nav .active>.nav-link:hover::before{
   
    width: calc( 100% - 16px);
}
.dropdown-item:hover{
    color: #d62f58;
    background-color: white;
}

.dropdown-item::before {
    background-color: #d62f58;
    content: "";
    height: 2px;
    width: 0%;
    display: block;
    transition: 0.5s;
}

.dropdown-item:hover::before {
    width: 20%;
}

.btn-outline-danger {
    color: #d62f58;
    border-color: #d62f58;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #d62f58;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
    width: 190px;
    height: 50px;
    font-weight: 600;
}

.bg-light {
    background-color: white!important;
}

.my-lg-2 {
    padding-left: 50px;
}

.pr-7 {
    padding-left: 52px;
}

.navbar-light .navbar-brand {
    font-size: 25px;
    color: #dc4f72;
    font-weight: 700;
    padding-left: 16px;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding-left: 230px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    font-size: 25px;
    color: #dc4f72;
    font-weight: 700;
}

.fixed-top {
    background-color: #fff;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}


/* intro */

.intro {
    margin-top: 82px;
}

.intro__content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../Images/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.intro__container {
    max-width: 1200px;
    display: flex;
}

.container__left {
    width: 50%;
    padding-left: 116px;
}

.container__left h1 {
    font-size: 49px;
}

.container__left P {
    font-size: 19px;
    color: #5a5a5a;
    max-width: 380px;
}

.container__right {
    width: 50%;
    transform: rotate(180deg);
}

.btn-success {
    width: 140px;
}


/* description */

.description__container {
    max-width: 1130px;
    margin: auto;
    margin-bottom: 35px;
}

.description__container .header h1 {
    margin: auto;
    font-size: 47px;
    max-width: 619px;
}

.description__container .header h6 {
    color: #d62f58;
}

.description__container .header {
    max-width: 780px;
    margin: auto;
}

.description__container .block {
    background-color: #F7F9FC;
    border-radius: 10px;
    transition: all .5s;
}

.description__container .block:hover {
    transform: translateY(-20px);
    background-color: #fff;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
}

.description__container .block a {
    text-decoration: none;
}


/* demo */

.demo {
    background-color: #F7F9FC;
}

.demo__container {
    max-width: 1130px;
    margin: auto;
}

.demo h2 {
    font-weight: 600;
}

.demo .button--befor {
    color: white;
    background-color: #dc4f72;
    width: 140px;
    border-color: #dc4f72;
}

.button--befor:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}

.demo img:hover {
    transform: translateY(-20px);
}

.demo img {
    transition: all .5s;
}


/* number */

.number {
    background-color: #F7F9FC;
}

.number__container {
    max-width: 1130px;
    margin: auto;
    padding-bottom: 45px;
}

.number__table {
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    padding-left: 40px;
    border-radius: 5px;
}

.number__table:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.2s;
}

.number__table h1 {
    color: #dc4f72;
    font-weight: 600;
}

.number__table h6 {
    font-weight: 600;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

.title {
    max-width: 750px;
    margin: 0 auto;
}
.text-danger {
    color: #dc3545!important;
    font-weight: 800;
}
.title h6 {
    color: #dc4f72;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title h3 {
    color: #2C3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.title p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

img {
    vertical-align: middle;
    border-style: none;
}

.container {
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #dc4f72;
}

.title {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.title h6 {
    color: #dc4f72;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.title h3 {
    color: #2c3038;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0;
}

.title p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


/* quote */

.quote {
    display: block;
}

.quote-block {
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url("../Images/bg.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.quote-content {
    max-width: 550px;
}

.quote-content h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.quote-content p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

.theme-button {
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}


/* solution */

.solution {
    padding-top: 3rem;
}

.explore-content {
    border-radius: 5px;
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.explore-content p {
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.explore-content:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.explore-content:hover a {
    color: #dc4f72;
}

.explore-content:hover a img {
    filter: grayscale(0);
}

.explore-content:hover .btn-news span.fa {
    right: -16px;
    transition: 0.3s ease-in;
}

.content-top a,
.content-top img {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.content-top img {
    display: block;
    overflow: hidden;
    filter: grayscale(1);
    transition: all 0.3s;
}

.content-top {
    position: relative;
    overflow: hidden;
}

.content-top p {
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
    border-top-right-radius: 6px;
}

.content-bot {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: #dc4f72;
}

.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.content-bot h4 a {
    font-size: 22px;
    line-height: 27px;
    color: #212529;
    font-weight: 600;
    display: block;
}

.content-bot h4 a:hover {
    color: #dc4f72
}

.btn-news {
    padding: 0;
    color: #dc4f72;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.btn-news span {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 7.5px;
    transition: 0.3s ease-in;
}

.btn-news:hover {
    transition: 0.3s ease-in-out;
    color: #dc4f72;
}


/* Q & A */

.faq-page ul {
    list-style: none;
    padding: 0;
    max-width: 750px;
    margin: 0 auto;
}

.faq-page ul li {
    position: relative;
    padding: 25px 50px 25px 20px;
    border: 1px solid #eee;
    margin: 0 0 15px 0;
    border-radius: 6px;
    background: #fff;
}

.faq-page ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 25px;
    top: 16px;
    animation-delay: 0.5s;
}

.faq-page ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    top: 0;
    left: 0;
}

.faq-image {
    position: sticky;
    top: 80px;
}

.faq-page h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
}

.faq-page p {
    color: #212529;
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.faq-page ul li input[type=checkbox]:checked~p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%)
}


/* start products */

.products {
    background: #fff;
}

ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
}

.resp-tab-content {
    border: none;
}

.resp-tabs-list li {
    font-weight: 700;
    font-size: 22px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #4e5b61;
    background: #fff !important;
    margin-bottom: 20px;
}

.resp-tab-active {
    border: none;
    border-bottom: 3px #dc4f72 solid !important;
    color: #dc4f72 !important;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

.products .products-content {
    margin: 20px 0;
}

.products .products-content h3 {
    color: #2c3038;
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.products .products-content p {
    color: #5a5a5a;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24.5px;
}

img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

img.img-curve:hover {
    transform: translateY(-8px);
    transition: 0.3s ease-in-out;
}


/* end products */


/* start testimonials */

.testimonials {
    background-image: linear-gradient( rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../Images/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonials .testimonials__item {
    background: #fff;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    padding: 32px;
    border-radius: 6px;
    max-width: 95%;
    margin: 0 auto;
    text-align: left;
}

.testimonials .image__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #dc4f72;
}

.testimonials .message {
    position: relative;
}

.testimonials .message span {
    position: absolute;
    top: 0;
    left: -40px;
    font-size: 30px;
    color: #2c3038;
    opacity: 0.2;
}

.testimonials .message p {
    font-size: 18px;
    line-height: 26px;
    color: #2c3038;
}

.testimonials .name h4 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
    margin-bottom: 0;
}

.testimonials .name p {
    font-size: 13px;
    color: #2c3038;
    margin-bottom: 0;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: #fff;
    display: block;
    border: none;
    transition: opacity 0.2s ease;
    border-radius: 0;
    position: relative;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #dc4f72;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-dots {
    margin-top: 0px;
    bottom: -55px;
    position: absolute;
    left: 0;
    right: 0;
}

.owl-dots button {
    width: 53px;
    padding-left: 50px;
    align-items: center;
}


/* end testimonials */


/* start ready */

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary {
    color: #fff;
    background: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    background-color: #d62f58;
    border-color: #cf2952;
}


/* end ready */


/* start footer */

footer {
    background: #f7f9fc;
}

footer h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 700;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    margin: 10px 0;
}

footer li a {
    color: #656f7b;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
}

footer li:hover a {
    color: #dc4f72;
    opacity: 0.8;
}

footer .newsletter {
    background-color: #fff;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

footer h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2c3038;
    margin-bottom: 30px;
    font-weight: 500;
}

footer form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

footer .subscribe input {
    background: #f7f9fc;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2c3038;
    font-weight: 600;
    border-radius: 6px;
}

footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

footer p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
    margin-bottom: 0;
}

footer .below-section {
    border-top: 1px solid #eaeaea;
}

footer p a {
    color: #2c3038;
}

footer p a:hover {
    opacity: 0.8;
    color: #dc4f72;
}

footer ul.social li {
    display: inline-block;
    margin-right: 5px;
}

footer ul.social li a {
    color: #2c3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

footer ul.social li a:hover {
    color: #dc4f72;
    transition: 0.3s ease;
}


/* end footer */
@media only screen and (max-width: 1000px) {
    .navbar-nav{
        display: none;
    }
    .collapse.show  .navbar-nav{
        display: flex;

    }
    .form-inline{
        display: none;
    }
    .collapse.show .form-inline{
        display: flex;
    }
    header [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
        width: 162px;
        height: 55px;
        font-weight: 600;
        color: white;
        background-color: #d62f58;
    }
    .navbar-expand-lg .navbar-collapse {
       width: 100%;
    }
    .navbar-light .navbar-brand{
        padding: 0%;
    }
    .demo {
       padding: 15px;}
    .intro__container>div {
        width: 100%;
        padding: 0%;
    }
    .intro__container {
        flex-wrap: wrap;
        padding: 20px;
    }
    .col-sm-6 {
        margin-top: 20px;
    }
    .number {
        padding: 0 15px;
        padding-bottom: 55px;
        }
    .container {
        padding: 13px 22px;
        }
  }
